<div class="container-fluid">
  <h1>Editing Home</h1>

  <%= render 'form', home: @home %>

  <%= link_to 'Show', @home, class: "btn btn-light min-width-btn" %> |
  <%= link_to 'Back', homes_path, class: "btn btn-light min-width-btn" %>
</div>