<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  
  <%= link_to 'Edit', edit_home_path(@home), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', homes_path, class: "btn btn-light min-width-btn" %>
</div>